body {
  width: 70%;
  margin: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

th {
  background-color: lightseagreen;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
}

.disabled {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 10px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.searchBar {
  width: 20%;
  padding: 10px 18px;
  margin: 8px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

.promedio {
  width: 5%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

input[type="text"],
[type="number"] {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

.botonPrecio {
  width: 15%;
  background-color: lightseagreen;
  color: white;
  padding: 10px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.disabledMod {
  width: 45%;
  background-color: grey;
  color: white;
  padding: 10px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.botonCerrar {
  width: 5%;
  background-color: red;
  color: white;
  padding: 7px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.botonCerrar {
  width: 5%;
  background-color: red;
  color: white;
  padding: 7px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 90%;
}
.contenedoraflex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenedor {
  top: 135px;
  position: absolute;
  width: 30%;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 20px;
  /* display: none; */
}
